@font-face {
  font-family: "MacPaw Fixel Display";
  src: local("FixelDiMacPaw Fixel Displaysplay"),
    url("../fonts/MacPawFixelDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: local("MacPaw Fixel Display"),
    url("../fonts/MacPawFixelDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: local("MacPaw Fixel Display"),
    url("../fonts/MacPawFixelDisplay-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: local("MacPaw Fixel Display"),
    url("../fonts/MacPawFixelDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
